@font-face {
	font-family: LuloCleanBold;
	src: url("file:///C:/Users/bqacos/Documents/GitHub/baileycostello.me/fonts/LuloCleanW01-OneBold.ttf");
}

@font-face {
	font-family: AvenirLTStd-Light;
	src: url('/fonts/AvenirLTStd-Light.otf');
}

.text-align-center {
	text-align: center;
}
.primary-font {
	font-family: LuloCleanBold;
	font-size: 14pt;
	font-weight: 400;
	position: relative;
}

.secondary-font {
	font-family: "Times New Roman", Times, Serif;
	font-size: 14pt;
	font-weight: 400;
	position: relative;
}

.tertiary-font {
	font-family: "Times New Roman", Times, Serif;
	font-size: 12pt;
	font-weight: 400;
	position: relative;
}

.vertical-horizontal-center {
	/*margin: 0;*/
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.vertical-bottom-horizontal-center {
	/*margin: 0;*/
	position: absolute;
	top: 92%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.down-arrow {
	padding: 8px;
	position: relative;
	animation-name: down-arrow;
	animation-duration: 3s;
	animation-delay: 3s;
	animation-iteration-count: 4;
	animation-timing-function: linear;
}

/* animations */

@keyframes down-arrow {
	0%		{top: 0px;}
	20%		{top: 0px;}
	25%		{top: 4px;}
	30%		{top: 2px;}
	35%		{top: 4px;}
	40%		{top: 0px;}
	100%	{top: 0px;}
}