/* font *****************************************************************/

@font-face {
	font-family: LuloCleanBold;
	src: url("/fonts/LuloCleanW01-OneBold.ttf");
}

@font-face {
	font-family: AvenirLTStd-Light;
	src: url('/fonts/AvenirLTStd-Light.otf');
}

.text-align-center {
	text-align: center;
}

.primary-font {
	font-family: LuloCleanBold;
	font-weight: 400;
}

.secondary-font {
	font-family: "Times New Roman", Times, Serif;
	font-weight: 400;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 14pt;
}

p {
	font-size: 12pt;
}

/* responsive breakpoints & positioning *************************************/

/*https://www.w3schools.com/html/html_responsive.asp*/

@media screen and (max-width: 100000px) {
	* { /* cascades to screen sizes below */
		box-sizing: border-box;
	}

	.center {
		padding:8px;
		float:left;
		width:60%;
	}

	.left, .right {
		padding:8px;
		float:left;
		width:20%;
	}
}

@media screen and (max-width: 1600px) {
	.center {
		padding:8px;
		float:left;
		width:80%;
		height: auto;
	}

	.center-column-one {
		padding:8px;
		float:left;
		width:40%;
		height: auto;
	}

	.center-column-two {
		padding:8px;
		float:left;
		width:40%;
		height: auto;
	}

	.left, .right {
		padding:8px;
		float:left;
		width:10%;
		height: 100vh;
	}

	.landing-content {
		height: 90vh;
  	}

  	.footer {
  		height: 40vh;
  	}
}

@media screen and (max-width: 750px) { /* The width is 100%, when the viewport is 750px or smaller */
	.left, .center, .center-column-one, .center-column-two, .right {
		width: 100%;
	}

	.center, .center-column-one, .center-column-two {
		height: auto;
	}

	.left, .right { /* how do you make the .left and .right inherit the height of the .center? When the .center is larger than the viewport they do not line up */
		height: 20vh;
	}

	.landing-content { /* this needs to be below width 100% */
		height: 60vh;
	}

	.footer {
		height: auto;
	}
}

.vertical-center {
	position: relative;
	top: 50%; /*50% of the container's height*/
	-webkit-transform: translate(0, -50%); /*-50% of the height of the object*/
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.horizontal-center {
	/* position: relative; */
	left: 50%; /*50% of the container's width*/
	-webkit-transform: translate(-50%, 0); /*-50% of the width of the object*/
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.spacer {
	background-color: #FFFFFF;
	 height: 10vh; 
	 width: 100%;
}

/*************************************************************/

body {
	margin: 0;
}

.button {
	font-family: LuloCleanBold;
	font-weight: 400;
	font-size: 14pt;
	color: #000000;
	background-color: rgba(0,0,0,0);
	border: 2px solid #000000;
	padding: 4px 12px 4px 12px;
	text-decoration: none;
}

.button-inverted {
	color: #FFFFFF; 
	border: 2px solid #FFFFFF;
}

.button-ghost {
	font-family: LuloCleanBold;
	font-weight: 400;
	font-size: 14pt;
	color: #000000;
	background-color: rgba(0,0,0,0);
	padding: 4px 12px 4px 12px;
	text-decoration: none;
}

.button:hover {
	background-color: rgba(0,0,0,0.1);
}

.button-inverted:hover {
	background-color: rgba(255,255,255,0.1);
}

.link {
	color: #000000; 
	text-decoration: underline;
}

.link-inverted {
	color: #FFFFFF; 
	text-decoration: underline;
}

.footer {
	color: #FFFFFF;
	background-color: #000000;
}

/*.scrollbar {  JS - how many sections are on this page, what section is it currently scrolled to?
	width: 6px;
	height: 50vh;
	background-color: #000000;
	border-radius: 50px;
	left: 99%;
	top: 25%;
	position: fixed;
}
*/

/* CSS animations https://www.w3schools.com/css/css3_animations.asp */

@keyframes down-arrow {
	0%		{top: 0px;}
	20%		{top: 0px;}
	25%		{top: 4px;}
	30%		{top: 2px;}
	35%		{top: 4px;}
	40%		{top: 0px;}
	100%	{top: 0px;}
}

.down-arrow {
	padding: 8px;
	position: relative;
	animation-name: down-arrow;
	animation-duration: 3s;
	animation-delay: 3s;
	animation-iteration-count: 4;
	animation-timing-function: linear;
}