<div class="left spacer"></div>
<div class="left footer"></div>
<div class="center-column-one footer">
	<br/>
	<span class="primary-font">Contact Me</span>
	<br/>
	<form action="mailto:bqacos@gmail.com" method="post" enctype="text/plain">
		<span class="tertiary-font">Name:</span>
		<br/>
		<input type="text" name="name"><br>
		<span class="tertiary-font">E-mail:</span>
		<br/>
		<input type="text" name="mail"><br>
		<span class="tertiary-font">Message:</span>
		<br/>
		<input type="text" name="comment" size="50">
		<br/>
		<br/>
		<input type="submit" value="Send" class="button">
	</form>
</div>
<div class="center-column-two footer">
	<br/>
	<span class="primary-font">Navigation</span>
	<br/>
	<a href="#Home" class="secondary-font">Home</a>
	<br/>
	<a href="#Projects" class="secondary-font">Projects</a>
	<br/>
	<a href="#Resume" class="secondary-font">Resume</a>
</div>
<div class="right footer"></div>